<section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(images/AMAND_AGM_11.jpg); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">Welcome to AMAND Pune</h2>
    				<p>The Association of Manipuri Diaspora (AMAND) Pune is a non-profit, non-government community organisation founded by like minded people of Manipur residing in and around Pune. The association was founded on the 11th day of September 2011.</p>
    				<p>AMAND Pune is managed by an elected Executive Body (EB) consisting of the Hon. President, the Vice-President, the General Secretary, Joint Secretary, Treasurer and eight executive members.</p>
    			</div>
    		</div>
    	</div>
    </section>