<section class="p-5 ftco-section bg-color-2">
    	<div class="container-fluid">
        <div class="row justify-content-center pb-3">
          <div class="col-md-5 heading-section ftco-animate text-center">
            <h2 class="text-white"><strong>Our Mission:</strong></h2>
            <p class="text-white"><strong>To form a common platform for Manipuri Diasporas in Pune from where issues can be raised and/or problems can be solved amicably from time to time.</strong></p>
          </div>
      </div>
    </section>