<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'common/head.html' %}
  </head>
  <body>
    
    {% include 'common/navbar.html' %}
    
    <div class="hero-wrap-mini bg-color-2" data-stellar-background-ratio="0.5">
    </div>
    
    <section class="ftco-section-3">
      <div class ="container">
        <h2>
          {{ title }}
        </h2>
          {{ content }}

          {% for image in images %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
          {% endfor %}
          
      </div>
    </section>


    {% include 'common/footer.html' %}
  {% include 'common/scripts.html' %}
    
  </body>
</html>