<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AMAND Pune</title>
    {% include 'common/head.html' %}
  </head>
  <body">

    {% include 'common/navbar-dark.html' %} 

    
    <section class="ftco-section contact-section ftco-degree-bg">
      <div class="container mt-5">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h4">Contact Information</h2>
          </div>
          <div class="w-100"></div>
            <div class="col-md-4">
              <p class ="font-weight-bold">
                <span>
                  Address:
                </span> 
                Association of Manipuri Diaspora (AMAND), Pune
                Sana Sanggai
                Survey No. 280, Plot No. 13
                Shathe Vasti, Dhanori Road
                Lohegaon, Pune 411047
              </p>
            </div>
            <div class="col-md-12">
              <p><span>Email:</span> <br /> <a href="amand.pune@amandpune.org">amand.pune@amandpune.org</a></p>
            </div>
            <div class="col-md-12">
              <p><span>Website</span> <br /> <a href="www.amandpune.org">www.amandpune.org</a></p>
            </div>
          </div>
          <div class="row block-9">
            <div class="col-md-6 pr-md-5">
              {% for executive in executives_data[:executives_data|length//2] %}
              <div class="contact-info-item">
                <p><strong>{{ executive['Name'] }}</strong></p>
                <p>{{ executive['Title'] }}</p>
                <p>{{ executive['Phone'] }}</p>
              </div>
              {% endfor %}
            </div>
            <div class="col-md-6">
              {% for executive in executives_data[executives_data|length//2:] %}
              <div class="contact-info-item">
                <p><strong>{{ executive['Name'] }}</strong></p>
                <p>{{ executive['Title'] }}</p>
                <p>+91 {{ executive['Phone'] }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          
          
          </div>
          
      </section>

  
              {% include 'common/footer.html' %}
{% include 'common/scripts.html' %}
    
  </body>
</html>