<!DOCTYPE html>
<html lang="en">

	<head>

		{# Head #}
    	{% include 'common/head.html' %}

	</head>

	<body>

		<!-- Nav Bar -->
		{% include 'common/navbar.html' %}

		<!--  Hero Banner  -->
		{% include 'index/hero_banner.html' %}

		{# Mission #}
		{% include 'index/mission.html' %}

		{# Events #}
		{% include 'index/events.html' %}

		{# Executives #}
		{% include 'index/executives.html' %}

		{% include 'event/events.html'%}

		{# Footer #}
		{% include 'common/footer.html' %}

		{# Scripts #}
		{% include 'common/scripts.html' %}

	</body>
	
</html>