<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common/head.html' %}
</head>
<body>

{% include 'common/navbar.html' %}

{% include 'news/hero_banner.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <!-- Year Dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Year
                </button>
                <div class="dropdown-menu" aria-labelledby="yearDropdown">
                    <a class="dropdown-item" href="#">2016</a>
                    <a class="dropdown-item" href="#">2017</a>
                    <a class="dropdown-item" href="#">2018</a>
                    <a class="dropdown-item" href="#">2019</a>
                    <a class="dropdown-item" href="#">2020</a>
                    <a class="dropdown-item" href="#">2021</a>
                    <a class="dropdown-item" href="#">2022</a>
                    <a class="dropdown-item" href="#">2023</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- News Articles -->
            <ul class="list-group">
                {% for article in news_articles %}
                <li class="list-group-item">
                    {{ article.title }} | {{ article.date }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Bullet-Pointed News Articles -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>News Articles:</h3>
            <ul>
                <li>Patriots’ Day observed at Pune | Aug 17, 2016</li>
                <li>Blood Donation Camp by Manipuri Diaspora at Pune | Jul 11, 2016</li>
                <li>Condolence Message on massive Earthquake in Manipur | Jan 6, 2016</li>
                <li>AMAND celebrates Ningol Chakouba | Nov 16, 2015</li>
                <li>Meeyamgi Thougal – ‘Spirit of Social Upliftment’ at SOS Children’s | Oct 3, 2015</li>
                <li>Heartfelt appreciation to the people of AMAND | 30 June, 2015</li>
                <li>1st International Day of Yoga celebrated by AMAND, Pune | 21 June, 2015</li>
                <li>Workshop on Cyber Crime and Its Relevant Law conducted for NE | Apr 20, 2015</li>
                <li>AMAND Pune PR: Ningol Chakouba at Pune 2014, Poknpham News | 31 October, 2014</li>
                <li>AMAND Pune PR: Ningol Chakouba at Pune 2014 | 29th October, 2014</li>
                <li>AMAND Pune celebrates ‘Ningol Chakkouba’ | 27th October, 2014</li>
                <li>Ningol Chakkouba celebrated across State and beyond | 27th October, 2014</li>
                <li>Ningol Chakouba 2014, AMAND Huiyen Lanpao | 27th October, 2014</li>
                <li>Ningol Chakkouba Celebrated at Pune | 26th October, 2014</li>
                <li>Annual General Body Meeting (AGM) and social gathering of AMAND, Pune | 06th October, 2014</li>
                <li>Pune Manipuri Diaspora receive Asiad players | 03rd October, 2014</li>
                <li>Association of Manipuri Diaspora (AMAND) Pune honours MC Mary Kom | 9th September, 2014</li>
                <li>Pune Manipuris book hall to watch biopic | 9th September, 2014</li>
                <li>पुण्याच्या मणिपुरी ‘मेरी कोम’ साठी बुक करणार अखंड थिएटर, मुंबई | 8 सप्टेंबर 2014</li>
                <li>‘Mary Kom’ : Movie screened at Pune by AMAND, Pune | 8th September 2104</li>
                <li>AMAND Press Release on Mary Kom Movie at Pune | 8th September 2104</li>
                <li>पुण्यातील मणिपुरी बांधवांसाठी आज ‘मेरी कोम’ चित्रपटाचा खेळ | 7th September 2104</li>
                <li>Manipuris in city celebrate Mary Kom’s success | 7th September 2104</li>
                <li>NGO organises special screening of biopic on boxing champion | 6th September 2104</li>
                <li>123rd Patriots’ Day, the 13th August, 2014 at Pune | 18th August 2104</li>
                <li>Patriots’ Day observed at Pune | 15th August 2014</li>
                <li>Patriots’ Day observed at Pune | 14th August 2014</li>
                <li>North east bound UoP gets linguistic twist from Manipuri Assn. | 2nd June 2014</li>
                <li>Manipuri Diaspora in Pune urges for action on racial discrimination | 20th April 2014</li>
                <li>Manipuri cultural extravaganza held in Pune to promote national integration | 15th February, 2014</li>
                <li>Blue Hills, a Manipuri cultural extravaganza organized at Pune | 4th February 2014</li>
                <li>PR – ASSOCIATION OF MANIPURI DIASPORA (AMAND), PUNE | 1st May 2012</li>
            </ul>
        </div>
    </div>
</div>

{% include 'common/footer.html' %}
{% include 'common/scripts.html' %}

</body>
</html>
